<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Siete y media</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-item>
      <ion-title>Nombre: <!--{{ name }}{{ bet }}--></ion-title>
    </ion-item>
    <ion-text>Apuesta: </ion-text>
    <br>
    <ion-button class="primary">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
    <ion-button class="danger">
      <ion-icon slot="icon-only" name="square"></ion-icon>
    </ion-button>
  </div>
</ion-content>
